{% extends "PublicBundle::base.html.twig" %}

{# Description #}
{% block description %} Go Mobility, un super site {% endblock %}

{# title #}
{% block title %} Accueil {% endblock %}



{# body #}
{% block body %} 
<section id="actualites" class="global-content two-third left">
	
	<h2>Actualités</h2>
	{% for entities in entity %}
	<article>
		<h3>{{ entities.title }}</h3>
		<p class="date grey">le {{ entities.date | date("d/m/Y") }}</p>
		<p>{{ entities.content }}</p>
	</article>
	{% endfor %}

</section> <!-- .global-content -->
{% endblock %}

{# javascripts #}
{% block javascripts %}
{% endblock %}
