{% extends "AccessBundle::admin_layout.html.twig" %}



{% block body %}
<div class="col-xs-11 col-md-10 main">
    <div class="breadcrumb">
	{{ knp_menu_render('breadcrumb',{'currentAsLink':false}) }}
	</div>
	<h2>Expériences</h2>
	{% for notice in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">{{ notice }}</div>
    {% endfor %}
	<ul class="list-group">
	{% for entities in entity %}
	  	<li class="list-group-item">
	    	{{ entities.title }}
	    	<a href="#" class="glyphicon glyphicon-remove pull-right"></a>
	    	<a href="#" class="glyphicon glyphicon-edit pull-right"></a>

	  	</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}