</div> <!-- .content -->

<footer id="footer" class="bg-blue-light">
	<div class="content white">
		<nav class="left">
			<ul>
				<li><a href="#" title="Mentions légales">Mentions légales</a> - </li><!--
				--><li><a href="#" title="Contact">Contact</a></li>
			</ul>
		</nav> <!-- .left -->

		<nav class="right">
			Partenaires :
			<ul>
				<li><a href="#" title="Le Pays de L'Ardèche méridional (nouvel onglet)">Le Pays de L'Ardèche méridional</a>, </li>
				<li><a href="#" title="Le conseil général de l'Ardèche (nouvel onglet)">Le conseil général de l'Ardèche</a></li>
			</ul>
		</nav>
		<div class="ghost"></div>
	</div> <!-- .content -->
</footer> <!-- #footer -->