.navbar-nav{
	float:right;
}

/* sidebar */

.sidebar{
	padding:0;
}
.sidebar a{
	color:#777;
	font-size: 18px;
}
.glyphicon{
	margin-right: 10px;
}

.sidebar li:hover a, .sidebar li.active a{
	background-color: #222;
	color: #fff;
}

/* list group */

.list-group .glyphicon-remove{
	position:absolute;
	right:5px;
	top:10px;
}
.list-group .glyphicon-edit{
	position:absolute;
	right:25px;
	top:10px;
}


