/*  #Mobile
================================================== */

	@media only screen and (max-width:768px) {

		/*
		** GLOBAL
		*/
			form .two-column{float:none; width:100%;}


		/*
		** HEADER
		*/

			#header{text-align:center;}
				#header h1{margin:0 auto; float:none;}
				#header nav{float:none;}
					#header nav ul li{width:100%; margin:6px 0;}


		/*
		** FOOTER
		*/

			#footer{text-align:center;}
				#footer nav{float:none;}
				#footer nav:nth-child(1){margin-bottom:20px;}

	}