/*
** GLOBAL
*/

	*, *::before, *::after{box-sizing:border-box; -moz-box-sizing: border-box;}

	/* overlay bleu */
	*{outline:none;}

	body{
		font-family: 'Raleway', 'Arial', 'Verdana', sans-serif;
		font-size:1em;
		line-height:1.2em;
	}
	
	h2{
		font-size:1.8em;
		text-transform: uppercase;
		font-weight:700;
		line-height:1.2em;
	}
	h3{font-size:1.5em; margin-bottom:15px;}

	p{margin-bottom:1em;}

	a{color:inherit; text-decoration:none;}
	a:hover{text-decoration:underline;}

	
	a.test{
		color:blue;
	}

	label, input[type=text], input[type=email], select, textarea{width:100%;}
	input[type=text],input[type=email], textarea{border:solid 1px black;}
	label{display:block; margin-bottom:5px;}
	input[type=text], input[type=email]{height:40px; padding-left:10px;}
	textarea{height:300px; resize:none; padding:10px;}
	
	select{border:solid 1px black;}
		@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
			select{height:30px; line-height:30px; background:white;} 
		}
		select::-moz-focus-inner{border:0; padding:0;} /*Remove button padding in FF*/
		@-moz-document url-prefix() { select{padding: 15px 0!important;} } /* targets Firefox only */
		@media screen\0 { select{height:30px; line-height:30px;} } /* IE Hacks: targets IE 8, 9 and 10 */

	input[type=submit], button[type=submit]{
		display:inline-block;
		border:none;
		padding:10px 30px;
		text-transform:uppercase;
		font-size:1.3em;
		cursor:pointer;
	}
	input[type=submit]:hover, button[type=submit]:hover{background-color:#f3e7d2;}

	form ul li{
		color:#cc3333;
	}

/*
** CLASSES
*/

	.ghost{clear:both;}

	.large-content, .content{position:relative; width:100%; margin:0 auto;}
	.large-content{max-width:1280px;}
	.content{max-width:960px;}

	.table-middle{display:table; height:100%; width:100%;}
	.cell-middle{display:table-cell; vertical-align:middle;}

	.left{float:left;}
	.right{float:right;}
	.full-width{width:100%;}
	.two-column{width:49%;}
	.one-third{width:32%;}
	.two-third{width:65%;}
	.column-left{margin-right:1%;}
	.column-right{margin-left:1%;}
	.column-middle{margin-left:1%; margin-right:1%;}

	.transition, .transition *{-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}

	.border{border:solid 1px #666;}
	.active{cursor:default;}

	.bg-cover{
		background-repeat:no-repeat;
		background-position:center center;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
	}
		.bg-cover > img{width:100%;}

	.date{
		display:inline-block;
		margin-left:10px;
		font-size:0.8em;
		font-style:italic;
	}

	.pagination{text-align:center;}
		.pagination ul, .pagination ul li, .pagination ul li a{display:inline-block;}
		.pagination ul{margin:0 10px;}
			.pagination ul li a{margin:0 2px;}
	

	.btn{
		padding:10px;
		margin:5px 0;
		display:inline-block;
		font-weight:600;
	}
	.read-more{
		color:#17A29D;
		border:3px solid #17A29D;
	}
	.read-more:hover{
		background-color: #17A29D;
		color:#fff;
		text-decoration: none;
	}
	.aside-btn{
		color:#666;
		border:3px solid #666;
	}
	.aside-btn:hover{
		text-decoration: none;
		background-color: #666;
		color:#fff;
	}

	.notice{
		background-color: #17A29D;
		color:#fff;
	}

/*
** COULEURS
*/

	.black{color:black;}
	.blue-light{color:#17A29D;}
	.beige{color:#f3e7d2;}
	.grey{color:#858688;}
	.white{color:white;}
	.orange-logo{color:#FC8F55;}

	.bg-logo-grey{background-color:#666666;}
	.bg-black{background-color:black;}
	.bg-blue-light{background-color:#17A29D;}
	.bg-beige{background-color:#f3e7d2;}
	.bg-grey{background-color:#858688;}
	.bg-white{background-: ;color:white;}

/*
** TITLES
*/

	.title-experience{
		background-color:#17A29D;
		color:#FC8F55;
		padding:10px;
		margin-bottom: 10px;
		width:100%;
		display: block;
	}
	a.title-experience:hover{ 
		text-decoration: none; 
		background-color: #FC8F55;
		color:#17A29D;
	}

/*
** HEADER
*/

	#header{padding:10px 30px; margin:0 0 40px 0;}
		#header nav ul{padding-top:15px;}
		#header nav ul li{display:inline-block; margin:0 10px; text-transform: uppercase; font-weight: bold}
		#header nav ul li:hover a{ text-decoration: none; color:#FC8F55;}


/*
** ASIDE
*/

	aside .content{padding:3% 5%;}
	aside > div.border{position:relative; margin-bottom:20px;}
	aside h2{
		width:100%;
		padding:10px;
		margin-bottom:20px;
	}

	#fastlinks ul li{position:relative; margin:10px 0 10px 10px; padding-left:10px;}
	#fastlinks ul li:before{
		content:'';
		position:absolute;
		width:6px; height:12px;
		left:-10px; top:3px;
		background:url(../images/global/arrow-list.png) left top no-repeat;
	}



/*
** INDEX
*/
	#last-exp{margin-bottom:20px;}
	.map{height:500px;}


/*
** EXPERIENCE
*/
	.detail-exp{margin-bottom:40px;}
		.detail-exp .map{height:250px;}

/*
** EXPERIENCES
*/
	#experiences article{margin-bottom:40px; padding-bottom:20px; border-bottom:solid 1px #17A29D;}


/*
** JE PARTICIPE
*/
	#participe label[for=form_participation_coacteur_jeu]{width:auto; display:inline-block;}
	/*#form_participation_parcours_coorDepart, #form_participation_parcours_coorArrivee{
		display: none;
	}*/

/*
** ACTUALITES
*/

	#actualites article:not(:last-child){margin-bottom:40px; padding-bottom:20px; border-bottom:solid 1px #17A29D;}
	#actualites article h3{display:inline-block;}



/*
** FOOTER
*/

	#footer{padding:5px 0;
		font-size:0.8em;
	margin-top:20px;}
		#footer nav ul, #footer nav ul li, #footer nav p{display:inline-block;}
		#footer nav:nth-child(1) ul li{margin:0 5px;}
			#footer nav:nth-child(1) ul li a{padding-right:5px;}

