<aside class="one-third right">
	
	<div id="fastlinks" class="content border">
		<ul>
			<li>5787 engagés</li>
			<li><a href="#" title='Meilleur "éco-acteur"'>Meilleur "éco-acteur"</a></li>
			<li><a href="#" title="Application mobile">Application mobile</a></li>
		</ul>
	</div> <!-- #fastlinks -->

	<div id="last-actu" class="border">
		<h2 class="white bg-logo-grey"><a href="{{ url('public.frontpages.actualites') }}" title="Voir les actualités">Actualités</a></h2>
		<div class="content">
			<h3>Titre de l'actualité</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eos eligendi quibusdam porro, perspiciatis obcaecati ad numquam ipsum illum? Eveniet iure accusantium perspiciatis ea autem, nostrum inventore vitae dicta, facilis.</p>
			<a href="{{ url('public.frontpages.actualites') }}" class="btn aside-btn transition">Voir toutes les actualités</a>
			<div class="ghost"></div>
		</div> <!-- .content -->
	</div> <!-- #last-actu -->

	<div id="links-rs" class="border">
		<h2 class="white bg-logo-grey">Nous retrouver</h2>
		<div class="content">
		</div> <!-- .content -->
	</div> <!-- #links-rs -->

</aside>

<div class="ghost"></div>
